<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TP_WEB</display-name>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>fr.epsi.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>fr.epsi.controller.ProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/articles</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>fr.epsi.controller.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CientServlet</servlet-name>
    <url-pattern>/clients</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>FactureServlet</servlet-name>
    <servlet-class>fr.epsi.controller.FactureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactureServlet</servlet-name>
    <url-pattern>/factures</url-pattern>
  </servlet-mapping>
</web-app>